Algorithms_Stanford1/2sum.txt
Algorithms_Stanford1/SCC.txt
Algorithms_Stanford1/SCC.txt.reversed
Algorithms_Stanford2/2sat1.txt
Algorithms_Stanford2/2sat2.txt
Algorithms_Stanford2/2sat3.txt
Algorithms_Stanford2/2sat4.txt
Algorithms_Stanford2/2sat5.txt
Algorithms_Stanford2/2sat6.txt
Algorithms_Stanford2/clustering1.txt
Algorithms_Stanford2/clustering_big.txt
MachineLearning_Stanford/mlclass-ex3-005/mlclass-ex3/ex3data1.mat
MachineLearning_Stanford/mlclass-ex4-005/mlclass-ex4/ex4data1.mat
MachineLearning_Stanford/mlclass-ex7-005/mlclass-ex7/ex7faces.mat
